/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    justify-content: right;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/***** En-tête ******/

 header img {
    width: 120px;
    height:  40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lien_navigation {
    display: flex;
    gap: 50px;
}
.lien_navigation a:hover {
    border-top: 1px solid blue;
    color: blue;
}

.recherche {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 150%;
    margin: 0px;
}

h2 {
    font-weight: 100;
    font-size: 100%;
    margin-top: 10px;

}

form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}


i.fa-solid.fa-location-dot {
    color: black;
    background-color: #F2F2F2;
    padding: 17px 20px 17px 20px;
    border-radius: 15px 0px 0px 15px;
}

input#recherche {
    border: 1px solid #d9d9d9;
    border-left: 0px;
}

input[type="submit" i] {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    margin-top: 15px;
    gap: 15px;
}


.bouton_filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
}

.bouton_filtre:hover {
    background-color: lightblue;
}

.bouton_filtre i {
    display: flex;
    height: 50px;
    scale: 120%;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}

.bouton_filtre p {
    font-weight: 600;
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.information p {
    font-size: 80%;
}

.information i  {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 5px;
    scale: 80%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    flex-direction: column;
}

h3 {
    margin-top: 0px;
}

.hebergement_carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 45%;
    width: 100%;
}

.hebergement_carte img {
    width: 247px;
    height: 185px;
    border-radius: 10px 10px 0px 0px;
    justify-content: right;
    
}
.hebergement_carte .carte {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    padding: 3px;
    padding-right: 1px;
    box-shadow: 6px 6px 25px #d9d9d9;
 }

.carte h4 {
    margin-top: 0px;
    margin-bottom: 5px;
 }

.carte p {
 margin-bottom: 5px;
 margin-top: 0px;
}

.afficher_plus {
    font-weight:bold;
}

.afficher_plus:hover {
    text-decoration: underline;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activités ********/

.activites {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h5 {
    margin-top: 40px;
    font-size: larger;
}

.zone_activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zone_activites img {
    width: 300px;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
}

.carte_activite {
    box-shadow: 6px 6px 25px #d9d9d9;
    border-radius: 20px;
}

.carte_activite p {
    margin-left: 20px;
    font-weight: bold;
}

/***** Footer *****/

footer {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #d9d9d9;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    justify-content: flex-start
}

.zone_footer {
    width: 45%;
}

h6 {
    font-size: larger;
    margin-bottom: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
